@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LiberationMono";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url("../LiberationMono.woff2") format("woff2"),
    url("../LiberationMono.woff") format("woff");
}

html {
  font-family: "Manrope";
  background-color: rgb(20 20 22);
  caret-color: #7878fa;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  /* .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  } */
}

@layer components {
  .container-block {
    @apply mx-auto laptop:max-w-[1024px] desktop:max-w-[1440px];
  }
}

@layer utilities {
  .background-clip-text {
    background-clip: text;
    -webkit-background-clip: text;
  }
  .text-fill-color-transparent {
    -webkit-text-fill-color: transparent;
  }
  .hero-gradient {
    background: linear-gradient(214deg, #6262d9 21.1%, #9d62d9 102.26%, #9d62d9 102.26%);
  }
  .p-mobile-gap {
    padding: 0 calc(env(safe-area-inset-right) + 16px) calc(env(safe-area-inset-bottom) + 16px)
      calc(env(safe-area-inset-left) + 16px);
  }

  .font-inter {
    font-family: "Inter", sans-serif;
  }

  .font-liberation-mono {
    font-family: "LiberationMono", sans;
  }

  .login-history-item:last-child {
    border: none;
  }

}
